<div class='row'>
    <div class='large-4 large-centered text-center'>
        <h3>Update Quote Defaults</h3>
    </div>
    <div class='large-4 large-centered text-center'>
        <%= link_to 'HOME', edit_quotes_home_path(1), class: "button large" %>
    </div>
    <div class='large-4 large-centered text-center'>
        <%= link_to 'AUTO', edit_quotes_auto_path(1), class: "button large" %>
    </div>
</div>
