<div class="row">
    <div class="large-6 text-center column">
        <h3>Returning Customer</h3>
    </div>

    <div class="large-6 text-center column">
        <h3>New User</h3>
    </div>
</div>
