<div class="row">
    <div class="small-12 large-6 large-centered information">
        <p>
            <h4>About Us</h4>
            <br />
            SPIDERPOLICY.COM is an owned subsidiary of B.R. & Y. Insurance
            Agency, Inc. Since 1985, B.R. & Y. has provided thousands of
            consumers with a free simple and effective way to shop for
            insurance. For more information on B.R. & Y. Insurance, please
            visit www.bryinsurance.com. Whether it's health, home, life or
            auto insurance, SPIDERPOLICY helps make insurance shopping easy.<br />
            <br />
            As one of the leading online insurance marketplace, SPIDERPOLICY
            has a trusted relationship with various insurance carriers in
            California and writes with many of the nation's top insurance
            companies.<br />
            <br />
            Consumers complete one simple and secure online application. The
            information is sent directly to our licensed agents and within
            minutes, the consumer can expect to receive up to eight insurance
            quotes from our licensed agent.<br />
            <br />
            After comparing a variety of insurance coverage plans and rates,
            the agent will assist the consumer choose the right insurance that
            meets their needs and fits their budget.<br />
            <br />
            SPIDERPOLICY's mission is to provide the consumer the best way to
            save, shop and choose the right insurance policy and to continue
            providing them with the best possible customer service. The consumer
            can be assured since SPIDERPOLICY's agents are highly educated must
            receive continuing education as long as they are employed here.<br />
        </p>
    </div>
</div>
