<div class="row">
    <div class="small-12 large-6 large-centered information">
        <p>
            <h4>CLAIMS</h4>
            <br />
            During business hours (Mon. - Fri. | 09:00 am - 05:30 pm | PST) you may call (310) 217-8880 and our licensed customer service representative will be your liaison with your insurance company and assist your filing of the claim.<br />
            <br />
            You may make a claim by calling the following carriers directly 24 hours a day.<br />
            <br />
            <table>
                <tr>
                    <td>21st Century Insurance | AIG</td>
                    <td>(888) 244-6163</td>
                </tr>
                <tr>
                    <td>Access General</td>
                    <td>(866) 747-6931</td>
                </tr>
                <tr>
                    <td>Aetna</td>
                    <td>(888) 702-3862</td>
                </tr>
                <tr>
                    <td>Align General</td>
                    <td>(619) 702-7022</td>
                </tr>
                <tr>
                    <td>Allied Insurance</td>
                    <td>(800) 242-1446</td>
                </tr>
                <tr>
                    <td>Arrowhead</td>
                    <td>(800) 669-1889</td>
                </tr>
                <tr>
                    <td>Blue Cross</td>
                    <td>(800) 627-8797</td>
                </tr>
                <tr>
                    <td>Blue Shield</td>
                    <td>(800) 424-6521</td>
                </tr>
                <tr>
                    <td>Bristol West</td>
                    <td>(800) 274-7865</td>
                </tr>
                <tr>
                    <td>Cencal</td>
                    <td>(800) 999-0107</td>
                </tr>
                <tr>
                    <td>Carnegie</td>
                    <td>(888) 607-2879</td>
                </tr>
                <tr>
                    <td>Commerce West</td>
                    <td>(800) 244-1545</td>
                </tr>
                <tr>
                    <td>GMAC</td>
                    <td>(877) 468-3466</td>
                </tr>
                <tr>
                    <td>Hagerty</td>
                    <td>(800) 922-4050</td>
                </tr>
                <tr>
                    <td>Infinity</td>
                    <td>(800) 334-1661</td>
                </tr>
                <tr>
                    <td>Mitsui-Sumitomo</td>
                    <td>(866) 676-6272</td>
                </tr>
                <tr>
                    <td>Oregon Mutual</td>
                    <td>(800) 934-3809</td>
                </tr>
                <tr>
                    <td>Progressive</td>
                    <td>(800) 776-4737</td>
                </tr>
                <tr>
                    <td>RMIS</td>
                    <td>(714) 738-1383</td>
                </tr>
                <tr>
                    <td>Safeco</td>
                    <td>(800) 332-3226</td>
                </tr>
                <tr>
                    <td>Suncoast</td>
                    <td>(866) 914-9242</td>
                </tr>
                <tr>
                    <td>Tokio Marine | Nichido</td>
                    <td>(877) 567-7486</td>
                </tr>
                <tr>
                    <td>Travelers</td>
                    <td>(800) 252-4633</td>
                </tr>
                <tr>
                    <td>Unitrin Specialty</td>
                    <td>(877) 468-3466</td>
                </tr>
                <tr>
                    <td>Western General</td>
                    <td>(800) 758-3311</td>
                </tr>
                <tr>
                    <td>Western United</td>
                    <td>(800) 959-9842</td>
                </tr>
            </table>
        </p>
    </div>
</div>
