<div class="row">
    <div class="small-12 large-8 large-centered information">
        <p>
            <h4>PRIVACY POLICY</h4>
            B.R. & Y. Insurance Agency, Inc. owns and operates the www.spiderpolicy.com web site.<br />
            B.R. & Y. Insurance Agency can be contacted at:<br />
            B.R. & Y. Insurance Agency, Inc.<br />
            970 West 190th Street Suite 590<br />
            Torrance, CA 90502<br />
            <a href='www.bryinsurance.com'>www.bryinsurance.com</a><br />
            <br />
            The purposes of this Privacy Policy are to describe the information collection, use, and dissemination of B.R. & Y. Insurance Agency and all related websites owned or registered to it, and applies to its collection, use, storage, and disclosure of such information on its (a) web sites, including all divisions, subsidiaries, and related companies, (b) on various third party Affiliate web sites, and (c) to B.R. & Y Insurance Agency Inc's other information collection, including the acquisition of customer information from third parties. B.R. & Y. Insurance Agency, Inc. expressly disclaims all responsibility and liability for the information collection or privacy practices of third parties, Affiliates, Agents, or other third party services and web sites or applications.<br />
            <br />
            Please read the following legal notices carefully. Your use of this web site and associated services constitutes your agreement with the terms and conditions set forth below. These terms and conditions may be changed or updated at any time. You are responsible for reviewing them periodically for current information. Additional legal notices regarding specific products, services, as well as conditions, restrictions or disclosures may be described on other areas within the spiderpolicy.com or B.R. & Y Insurance Agency, Inc's main web site.
        </p>
        <p>
            <h4>I. PRIVACY STATEMENT</h4>
            At B.R. & Y. Insurance Agency, Inc. your privacy is important. We understand that you entrust us with your private information to help us match you with an insurance policy to meet your insurance needs. Please know that we protect your privacy. Under no circumstances will B.R. & Y. Insurance Agency, Inc. sell or share any personal information about you to or with any person or organization except as provided in this Privacy Policy or as may be required by law or court order. This Privacy Policy describes the standards we adhere to in handling information about you and your insurance quote request.
        </p>
        <p>
            <h4>II. THE PROCESS</h4>
            B.R. & Y. Insurance Agency, Inc. is a leader in the marketplace for providing consumers with insurance needs. B.R. & Y. Insurance Agency, Inc. is an insurance agency and provides quotes directly to consumers.<br />
            <br />
            After you submit your quote request via this web site, B.R. & Y. Insurance Agency, Inc. immediately matches you to our Agent who can meet your insurance needs. The matching Agents will use the information you provided in your quote request to generate and evaluate your insurance quote and contact you with the details.<br />
            <br />
            B.R. & Y. Insurance Agency Inc. does not charge a fee to use our service. B.R. & Y. Insurance Agency, Inc. is paid commission by the insurance companies who write the insurance policy.
        </p>
        <p>
            <h4>III. THE INFORMATION WE COLLECT</h4>
            <br />
            <h4>A. Personal Information</h4>
            The personal information that B.R. & Y. Insurance Agency, Inc., its Agents, and its Affiliates may collect includes, but is not necessarily limited to, the items listed below. <br />
            <ul>
                <li>Full Legal Name</li>
                <li>Postal address(s)</li>
                <li>Email address(s)</li>
                <li>Telephone Number(s)</li>
                <li>Fax Number(s)</li>
                <li>Date of Birth</li>
                <li>Social Security Number / FEIN</li>
                <li>Gender</li>
                <li>Marital status</li>
                <li>Occupation</li>
                <li>Driving records</li>
                <li>Vehicles owned</li>
                <li>Credit reports</li>
                <li>Credit Card, Checking Account, or other Financial Institution account information</li>
                <li>Level of education</li>
                <li>Health history</li>
                <li>Insurance claim history</li>
            </ul>
            <br />
            Except as otherwise provided in this Privacy Policy, B.R. & Y. Insurance Agency, Inc. will store all information provided by you in its data servers for a period of at least three (3) years. B.R. & Y. Insurance Agency, Inc. uses reasonable efforts to ensure that such information is secure and to protect against its loss, misuses, and alteration of the information under B.R. & Y Insurance Aency's direct control. Notwithstanding the foregoing, B.R. & Y. Insurance Agency Inc. cannot guarantee that its security measures will prevent its computers from illegal or otherwise unauthorized access. For the avoidance of doubt, in no instance will B.R. & Y. Insurance Agency, Inc. retain Credit Card or other Financial Institution account information of users of any web sites without written authorization provided by such users.
            Based upon the information that you enter, we send it to our licensed agents so they can generate accurate quotes for you.<br />
            <br />
            <h4>IMPORTANT: NOTICE OF CONSUMER REPORT PRACTICES:</h4>
            <br />
            <b>All proposed named insureds listed on quote applications must be made aware of the following:</b><br />
            <br />
            In some cases, Agents, insurance companies and Affiliates may need to obtain additional background information about you. For example, consumer reports (including credit reports) may be ordered in connection with your insurance application. These reports provide information that may assist in determining your eligibility for insurance and the price you may be charged. Consumer reports may also be used for updates, renewals or extensions of this insurance. Insurance companies may also obtain and use a credit-based insurance score based on information contained in your credit report. Agents, insurance companies, and Affiliates may use a third party in connection with the development of your insurance score and rate quote. By providing the information described above in this paragraph through the B.R. & Y. Insurance Agency, Inc's web site(s), you are giving your express consent to Agents, insurance companies, and Affiliates to obtain and use said information for the purposes set forth herein.<br />
            <br />
        </p>
        <p>
            <h4>B. Technical Information</h4>
            <br />
            We may collect and track certain technical information to ensure that your consumer experience is a beneficial one, including by not limited to the following:
            <br />
            Cookies -- a cookie is a small file stored on a user's computer that contains information about the user. We may use either session ID cookies (which terminate once a browser is closed) or persistent cookies (which are small text files stored on a user's hard drive for an extended period of time). Cookies allow us to see how and when you use our sites, but they cannot be used to track personal information such as email address or phone number. Cookies also allow us to store the personal preferences that you set during each visit to our sites which can speed up your future visits.
            Log files -- B.R. & Y Insurance Agency, Inc. may use log files to track how our sites are being accesses and used. Log files track anonymous user information such as IP addresses, browser types, Internet service providers, referring and exit pages, platform type, date and time stamps, and number of clicks to, from, and within our sites.
            Information from Banner Ads -- if you arrive at Bryinsurance.com or spiderpolicy.com through a banner ad or other Affiliate referral device, we may track where you arrived from, as well as clicks that might have impacted our servers.
            We may use clear GIF Tracking Pixels to track user movement through our web sites for aggregated site traffic measuring. In addition, some Affiliates may set such tracking pixels on our web site pages to track completed forms and requests referred by their web sites.
        </p>
        <p>
            <h4>C. Survey Information</h4>
            <br />
            B.R. & Y. Insurance Agency Inc. may collect and use information from you when you voluntarily complete a survey, order form, registration page, or other form of data collection through any means, including but not limited to, U.S. mail, internet, wireless communications, SMS, facsimile, and telephone solicitations. Please understand that by providing such information, you are giving your express consent for B.R. & Y. Insurance Agency Inc, its Agents, and its Affiliates to contact you through electronic means, mail, wireless communications, SMS, facsimile, or via telephone (even if your telephone number is registered on any national or local so-called "Do Not Call" registry). Such consent remains fully intact until B.R. & Y. Insurance Agency, Inc. receives written request by you to rescind such consent pursuant to the "Opt-Out Policy" in this Privacy Policy.
        </p>
        <p>
            <h4>D. "Contact Us" Information</h4>
            <br />
            If you decide to communicate with us through a "Contact Us" section on our web site, we may ask you for personal information such as your name, email address, or phone number. This information may be shared with third parties in order to resolve any problems you may have. Please understand that by providing such information, you are giving your express consent for B.R. & Y Insurance Agency Inc, its Agents, and its Affiliates to contact you through electronic means, mail, wireless communications, SMS, facsimile, or via telephone (even if your telephone number is registered on the so-called "Do Not Call" registry). Such consent remains fully intact until B.R. & Y. Insurance Agency Inc. receives written request by you to rescind such consent pursuant to the "Opt-Out Policy" in this Privacy Policy.
        </p>
        <p>
            <h4>E. Third Party Information</h4>
            <br />
            B.R. & Y. Insurance Agency, Inc. may collect information from you when you provide such to a third party and B.R. & Y. Insurance Agency Inc. subsequently acquires or uses the information provided by the third party. Such information may include, but is not necessarily limited to, the information listed in Section III. A., above. Please understand that by providing such information to such third parties, you are giving your express consent for B.R. & Y Insurance Agency Inc, its Agents, and its Affiliates to contact you through electronic means, mail, wireless communications, SMS, facsimile, or via telephone (even if your telephone number is registered on the so-called "Do Not Call" registry). Such consent remains fully intact until B.R. & Y. Insurance Agency, Inc. receives written request by you to rescind such consent pursuant to the "Opt-Out Policy" contained in this Privacy Policy.
        </p>
        <p>
            <h4>F. No Information Collected From Children</h4>
            <br />
            B.R & Y. Insurance Agency Inc. will never knowingly collect any personal information about children under the age of 18. If B.R. & &. Insurance Agency, Inc. obtains actual knowledge that it has collected such information, that information will be immediately destroyed and/or deleted from our databases. Because we do not collect such information, we have no such information to use or to disclose to third parties. B.R. & Y. Insurance Agency, Inc. has designed this express policy to comply with any applicable provisions of the Children's Online Privacy Protection Act ("COPPA") promulgated by the Federal Trade Commission ("FTC").
        </p>
        <p>
            <h4>G. Opt-Out Policy</h4>
            <br />
            As stated above, please understand that by providing personal information to B.R. & Y. Insurance Agency Inc, you are giving your express consent for B.R. & Y. Insurance Agency, Inc., its Agents, and its Affiliates to contact you through electronic means, mail, wireless communications, SMS, facsimile or via telephone (even if your telephone number is registered on the so-called "Do Not Call" registry). Such consent remains fully intact until B.R. & Y. Insurance Agency, Inc. receives written request by you to rescind such consent (e.g., an "opt out" notification). If you did not give such express consent, or if you would like to remove such express consent, you may send such notification to info@bryinsurance.com; or if by mail to the address printed above. If your consent to be contacted was originally sent via SMS, you may also submit written notification of cancellation of such consent via SMS by sending "STOP", "END", or "QUIT" to any SMS message you received directly from InsuranceLeadz.com. To ensure timely removal of consent, please provide all information that was originally provided to B.R. & Y. Insurance Agency, Inc. by you and please allow B.R. & Y. Insurance Agency, Inc. approximately ten (10) business days to process such request.
            <br />
            Please understand that this Opt-Out Policy impacts only future delivery of solicitations to you sent directly by B.R. & Y. Insurance Agency, Inc. on its on behalf. You may still receive solicitations from third parties, and the personal information that you provided may still be shared with such third parties. By following this Opt-Out Policy, please understand that you will not automatically be unsubscribed from solicitations sent directly by any third parties, Agents, or Affiliates. Such third parties may maintain their own separate databases from ours, and you will need to contact them directly to unsubscribe from each source individually. This allows you the freedom to pick and choose which subscriptions to maintain and which to discontinue.
        </p>
        <p>
            <h4>H. Email Solicitations</h4>
            <br />
            B.R. & Y. Insurance Agency, Inc. only sends email solicitation to users who have agreed, through this Privacy Policy, on third party web sites, or by other means, to receive email from B.R. & Y. Insurance Agency, Inc. As such, B.R. & Y. Insurance Agency, Inc. does not send any unsolicited email solicitations.
        </p>
        <p>
            <h4>I. Wireless Communications.</h4>
            <br />
            If the email address(s) you provide to B.R. & Y. Insurance Agency, Inc. are wireless address(s), you agree to receive messages at such address(s) from B.R. & Y. Insurance Agency, Inc. or Agents and Affiliates. You understand that your wireless carrier's standard rates apply to these messages. You represent and warrant that you are the owner or authorized user of the wireless device(s) on which messages will be received, and that you are authorized to approve the applicable charges associated therewith.
        </p>
        <p>
            <h4>J. Short Message Service</h4>
            <br />
            B.R. & Y. Insurance Agency, Inc. may make available a service through which you can receive messages on your wireless device via short message service ("SMS"). Data obtained from you in connection with this SMS may include but is not limited to your name; address; cellular/wireless device telephone number; wireless provider's name; and the date, time, and content of your message(s). By submitting such information to B.R. & Y. Insurance Agency, Inc., you thereby represent and warrant that you are 18 years of age and the owner or authorized user of the wireless device on which messages will be received, and that you are authorized to approve the applicable charges associated with such messages. In addition to any fee which you are notified, your wireless provider's standard messaging rates apply to all SMS correspondence from B.R. & Y. Insurance Agency, Inc. All such charges are billed by and payable to your wireless provider. B.R. & Y. Insurance Agency, Inc. disclaims any liability for any delay in receipt of any SMS message. Your wireless provider and other service providers may collect data pertaining to your SMS usage, and such practices are not governed by the provisions of this Privacy Policy. You acknowledge that SMS is provided via wireless systems, and the submission of information over such systems may not be private or secure. B.R. & Y. Insurance Agency, Inc. disclaims any liability for any unauthorized access to information transmitted via SMS. You hereby grant B.R. & Y. Insurance Agency, Inc. the right to access your wireless provider account for the purpose of identifying and resolving technical issues and SMS related complaints. B.R. & Y. Insurance Agency, Inc. may use any information you have submitted via SMS to provide requested services, including services that display customized content and advertising. B.R. & Y. Insurance Agency, Inc. may also use such information for auditing; research and analysis; transmission of such information to Agents and Affiliates; and other uses as provided in this Privacy Policy. You may opt out of future SMS messages by complying with the "Opt-Out Policy" contained in this Privacy Policy.
        </p>
        <p>
            <h4>IV. HOW WE USE YOUR INFORMATION</h4>
        </p>
        <p>
            <h4>A. How We Share Your Information with Agents and Affiliates</h4>
            <br />
            When you submit a quote request to B.R. & Y. Insurance Agency, Inc., your information is forwarded to our licensed agent who can best serve your insurance needs. The agent will then provide you with up to 8 quotes from 40 over insurance carriers and over 100 insurance programs. If our agent cannot find a policy for you, your information may also be transmitted to one of our Affiliates in an effort to ensure you receive a competitive quote as soon as possible.
        </p>
        <p>
            <h4>B. How We Use Technical Information Internally</h4>
            <br />
            B.R. & Y. Insurance Agency, Inc. uses the technical information described in Section III, above, to study how our web sites are being used. We can also use cookies to track your preferences so that when you return to our web site, you can navigate more easily without having to re-enter certain information. By analyzing the data that cookies and web logs provide, we can determine how to improve our web sites and affiliate and banner ad campaigns to better serve our customers.
        </p>
        <p>
            <h4>C. How We Use Survey Information</h4>
            <br />
            B.R. & Y. Insurance Agency, Inc. uses information from our consumer satisfaction survey(s) to better understand the consumer experience and improve our services and web sites.
        </p>
        <p>
            <h4>D. Other Uses of Your Information By Third Parties</h4>
            <br />
            Affiliates -- The information from your quote request may be transmitted to one of our Affiliates. We feel it would be poor customer service to fail to provide a quote merely because no matching Agents are available. In these circumstances, we pass your quote request only to Affiliates that we have an existing contractual relationship. B.R. & Y. Insurance Agency, Inc. only enters into Affiliate relationships with reputable companies and our contract requires they follow applicable laws and not misuse the data provided to them.<br />
            <br />
            Companies that perform information processing on our behalf -- B.R. & Y. Insurance Agency, Inc. may contract with companies who manage our email and data systems and conduct surveys on our behalf. Your personal information is shared with these companies on a limited basis—only to the extent necessary to perform such information processing on our behalf.
            Law Enforcement -- B.R. & Y. Insurance Agency, Inc. will share your personal information in response to law enforcement officers, government personnel, court order or subpoena. This information will only be shared in order to comply with a legal obligation, and only to the extent required by such law or court order or subpoena.
        </p>
        <p>
            <h4>V. COMMUNICATIONS YOU CAN EXPECT</h4>
        </p>
        <p>
            <h4>A. B.R. & Y. Insurance Agency, Inc. Communications</h4>
            <br />
            You may expect to receive confirmation emails for submitted quote request(s), newsletters, surveys, follow-up telephone inquiries, telephone solicitations, direct mail solicitations, wireless solicitations, SMS solicitations, and facsimile solicitations and courtesy communications from B.R. & Y. Insurance Agency, Inc.
            <br />
            By submitting a quote request, you authorize B.R. & Y. Insurance Agency, Inc. to provide your information to our licensed insurance agent. You also authorize B.R. & Y. Insurance Agency, Inc. to provide your information to one of our third party agent networks in the event that our agency cannot offer the product. You authorize these agent networks to share your information with their vendors, suppliers, and insurance carriers in order to generate information for your quotes. By submitting a quote request, you acknowledge that B.R. & Y. Insurance Agency, Inc.' service requires you to agree that our partner companies may obtain a consumer report or credit score from a consumer reporting agency (also known as a credit bureau) and that these partner companies do not have the right to obtain a consumer report or credit score without your written instruction which you are granting by clicking the submit button.  Accordingly, by submitting a quote request you instruct consumer reporting agencies to provide a consumer report or credit score on you to these partner companies if requested within a reasonable date from the time you submit information to B.R. & Y. Insurance Agency, Inc. In the event that one of our partner companies obtains this credit information that partner company will not share this information with any other party, including insurance carriers, but insurance carriers may elect to obtain credit information on their own in connection with the quoting and underwriting of the requested insurance. Where permitted by law, some insurance companies or their agents may confirm your information, through the use of consumer reports, which may include credit score and driving record.
        </p>
        <p>
            <h4>B. Agent Communications</h4>
            <br />
            By submitting a quote request through B.R. & Y. Insurance Agency, Inc., insurance Agents will contact you using the contact information that you provided in the quote request form. In order stop these communications, you must contact the Agents directly and request that they stop contacting you.
        </p>
        <p>
            <h4>C. Affiliate and Third Party Communications</h4>
            <br />
            By submitting a quote request through B.R. & Y. Insurance Agency, Inc. or otherwise providing contact information, Affiliates and third parties may contact you using the contact information that you provided. In order stop these communications, you must contact the Affiliate(s) and/or other third parties directly and request that they stop contacting you. Such communications sent directly from Affiliates and other third parties are expressly excluded from this Privacy Policy. B.R. & Y. Insurance Agency, Inc. expressly disclaims all responsibility and liability for the information collection or privacy practices of such Affiliates and third parties.
        </p>
        <p>
            <h4>VI. QUOTE REQUESTS</h4>
            <br />
            B.R. & Y. Insurance Agency, Inc. is a licensed insurance agency in Torrance California. After you submit your quote request via our web site, B.R. & Y. Insurance Agency, Inc. immediately dispatches your information our licensed agents. This process happens instantly; therefore, there is not an opportunity for you to edit your original information after it's been submitted. We recommend that you communicate the needed changes directly to the our licensed sales agent.
        </p>
        <p>
            <h4>VII. CONTENT DISCLAIMER</h4>
            <br />
            B.R. & Y. Insurance Agency, Inc. provides its web sites and the information provided therein as a service to its customers. The information and materials provided are provided for general information purposes and may not be relied on as a substitute for professional or legal advice. The views or opinions expressed by the authors included such information do not necessarily reflect the views or opinions of B.R. & Y. Insurance Agency, Inc. or its Agents and Affiliates. The information is not intended to create any legal relationship between B.R. & Y. Insurance Agency, Inc. and the user. Neither the transmission nor receipt of these materials will constitute a legal relationship between the sender and the receiver. The information is not guaranteed to be correct, complete, or current. B.R. & Y. Insurance Agency, Inc. makes no warranty, expressed or implied, about the accuracy or reliability of the information, or at any other web site to which the B.R. & Y. Insurance Agency, Inc. web sites are linked. B.R. & Y. Insurance Agency, Inc. also assumes no responsibility for the content and accuracy of materials contained in external sites to which links are provided to its web sites.
        </p>
        <p>
            <h4>VIII. RESTRICTED AREAS</h4>
            <br />
            Certain areas of B.R. & Y. Insurance Agency, Inc., such as areas only available to our Agent and Affiliate network, may have additional or different terms and conditions than those addressed in this policy. If you access any of these areas, you should consult the privacy policies posted in those areas.
        </p>
        <p>
            <h4>IX. CHANGES TO THIS PRIVACY POLICY<br />
            <br />
            B.R. & Y. Insurance Agency, Inc. may, at its sole discretion, revise this Privacy Policy at any time in a manner consistent with applicable laws and regulations. When we revise this policy, including changes to B.R. & Y. Insurance Agency, Inc's use of your personal information, we will incorporate the revisions into this policy and will revise the "last revised" date at the top of this web page. We recommend that you regularly visit this policy in order to remain informed about any changes that we may implement.
        </p>
        <p>
            <h4>X. CALIFORNIA USER CONSUMER RIGHTS</h4>
            <br />
            In accordance with California Civil Code Sec. 1789.3. California resident users are entitled to know that they may file grievances and complaints with the California Department of Consumer Affairs, 400 R Street, STE 1080, Sacramento, CA 95814; or by telephone at (916) 445-1254 or (800) 952-5210; or by email to dca@dca.ca.gov. For more information about protecting your privacy, you may wish to visit: www.ftc.gov.
        </p>
        <p>
            <h4>XI. USE OF SPIDERPOLICY.COM WEB SITE(S)</h4>
            <br />
            You acknowledge that the personal information you provide to B.R. & Y. Insurance Agency, Inc. is collected and stored in the United States and therefore consent to the transfer of information to and storage of the information in the United States, regardless of your country of domicile.
            <br />
            B.R. & Y. Insurance Agency, Inc. reserves the right to disclose, transfer, or sell your personal information to companies who are affiliated with B.R. & Y. Insurance Agency, Inc. in B.R. & Y. Insurance Agency, Inc.'s sole discretion. If B.R. & Y. Insurance Agency, Inc. changes ownership through, but not limited to, acquisition, merger, sale, or other change of business status, it reserves the right to transfer or assign the right to use your personal information.
        </p>
        <p>
            <h4>XII. ACKNOWLEDGEMENT</h4>
            <br />
            By completing forms provided by B.R. & Y. Insurance Agency, Inc. and providing personal information through B.R. & Y. Insurance Agency, Inc. web sites, you hereby represent and warrant that:
            You have read, understand and agree to B.R. & Y. Insurance Agency, Inc.'s Privacy Policy, and B.R. & Y. Insurance Agency, Inc. may send you electronically (via email or otherwise) any notices with respect to the Privacy Policy, but is not required to do so;
            B.R. & Y. Insurance Agency, Inc. may provide the information you submit to third parties for the purposes of providing you information and quotes about insurance, that such third parties may contact you via the contact information that you provide, and that such third parties may use your information to gather additional information about you, as described in this Privacy Policy.
            B.R. & Y. Insurance Agency, Inc. may contact you using the information you provide.
            You are an actual person of at least 18 years of age, you have the right to provide the information you submit, and the information you submit is accurate, complete and truthful.
            If you do not agree to the terms of this Privacy Policy, then do not enter your information and do not continue with this process and do not provide your information to B.R. & Y. Insurance Agency, Inc. In such case, B.R. & Y. Insurance Agency, Inc. will not be able to provide quotes or information for insurance provided to you, and is relieved of any of its obligations to you as set forth in this Privacy Policy.

    </div>
</div>
