<div class='row'>
    <div class='large-4 large-centered'><%= link_to 'Homes', agent_homes_path, class: 'button large expanded' %></div>
    <div class='large-4 large-centered'><%= link_to 'Autos', agent_autos_path, class: 'button large expanded' %></div>
</div>
