<div class='row'>
    <div class='large-4 large-centered'><%= link_to 'Pending Homes', agent_homes_path, class: 'button large expanded' %></div>
    <div class='large-4 large-centered'><%= link_to 'Pending Autos', agent_autos_path, class: 'button large expanded' %></div>
    <div class='large-4 large-centered'><%= link_to 'Update Quote Defaults', quotes_path, class: 'button large expanded' %></div>
</div>
