<div class="row">
    <div class="small-12 large-3 large-centered">
        <h3>Agent Login</h3>
        <%= form_tag agent_auth_path do %>
            <label>Username</label>
            <%= text_field_tag 'login' %>
            <label>Password</label>
            <%= text_field_tag 'password' %>
            <%= submit_tag 'Log In', class: 'button' %>
        <% end %>
    </div>
</div>
