/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require parsley
 *= require_tree .
 *= require dataTables/jquery.dataTables
 *= require dataTables/extras/dataTables.responsive
 *= require dataTables/jquery.dataTables.foundation
 *= require_self
 */

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

*:focus {
    outline:none
}

ul {
    list-style: none;
}

.title-bar {
    height: 80px;
    background: #1C509D;
}

.title-bar-left, .title-bar-right {
    top: 16px;
    position: relative;
}

.off-canvas {
    top: 80px;
    padding-top: 20px;
}

.off-canvas-content {
    margin-top: 40px;
    padding: 0 40px;
}

.position-left.is-transition-push:after, .position-right.is-transition-push:after {
    box-shadow: none;
}

.off-canvas {
    background: #f7f7f7;
}

.flip {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.date select {
    width: 32%;
}

.form-background {
    background: #eee;
    padding: 20px 20px 20px 20px;
    border: 10px solid #fff;
    border-radius: 20px;
}

.fat-button {
    font-size: 20px;
    border-radius: 10px;
    padding: 20px 40px;
}

.quote_column_0 {
    background: #ffc784;
}

.quote_column_1 {
    background: #d3eeff;
}

.quote_column_2 {
    background: #ffff3d;
}

.table-headers {
	background: #000;
	color: #fff;
}

.error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  clear: both;
}

.error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

.error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

.error_explanation ul li {
  font-size: 12px;
  list-style: square;
  margin-top: 10px;
}

.spider_policy_man {
    height: 60px;
}

@media (max-width: 1024px) {
    #spider_logo {
        left: -30px;
    }
}

@media (max-width: 768px) {
    #spider_logo {
        left: -80px;
    }

    .spider_policy_man {
        position: relative;
        top: 10px;
        height: 45px;
    }
}
